{
	// It's heavily recommended that this setting is kept false,
	// as giving access to the debug library can be game breaking
	// if abused.
	//
	//	Default : false
	//
	"debugLibraryEnabled" : false,

	// Similar to the above, allowing users to load their own
	// bytecode can be potentially devastating for a server
	// if abusive bytecode is used.
	//
	//	Default : false
	//
	"binaryChunksEnabled" : false
}
