{	
	// <name>_io
	// The read/write speed of a storage medium.
	// This is bytes/tick, where one tick is 1/60 of a
	// second. To convert to bytes/second, multiply the
	// value by 60.

	// <name>_seek
	// The time in ticks it takes to "switch" to another
	// file on the storage medium. Multiply by 60 to get
	// the seek time in seconds.

	// <name>_size
	// The size in bytes of a storage medium.

	// <name>_sustain
	// The amount of bytes that can be read at once before
	// another seek has to be preformed.

	//"cassette_io" : 15, 			// Default : 15
	//"cassette_seek" : 60,			// Default : 60
	//"cassette_size" : 160000,		// Default : 160000
	//"cassette_sustain" : 160000,	// Default : 160000

	"floppy8_io" : 521, 		// Default : 521
	"floppy8_seek" : 3,  		// Default : 3
	"floppy8_size" : 187500,	// Default : 175000
	"floppy8_sustain" : 3750,	// Default : 3584

	"floppy5_io" : 260,			// Default : 260
	"floppy5_seek" : 4,  		// Default : 4
	"floppy5_size" : 100000,	// Default : 100000
	"floppy5_sustain" : 2500,	// Default : 2500

	"floppy3_io" : 521,			// Default : 521
	"floppy3_seek" : 4,			// Default : 4
	"floppy3_size" : 720000,	// Default : 720000
	"floppy3_sustain" : 9000	// Default : 9000
}