{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/interface/objectcrafting/campfire_body.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
    "title" : {
      "type" : "label",
      "value" : "^orange;Silicon Crucible^white;",
      "hAnchor" : "mid",
      "position" : [70, 106]
    },
    "icon" : {
      "type" : "image",
      "file" : "/interface/crafting/siliconcrucible/siliconcrucible.png",
      "position" : [3, 100]
    },
    "progressBar" : {
      "zlevel" : 1,
      "type" : "progress",
      "position" : [8, 53],
      "background" : "/interface/crafting/siliconcrucible/progressbarempty.png",
      "size" : [122, 20],
      "progressSet" : {
        "inner" : "/interface/crafting/siliconcrucible/progressbar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [42, 36],
      "base" : "/interface/objectcrafting/cook.png",
      "hover" : "/interface/objectcrafting/cookover.png",
      "callback" : "onCraftingToggle",
      "disabled" : true,
      "caption" : "Grow"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 105]
    },
    "input" : {
      "zlevel" : 2,
      "type" : "itemslot",
      "position" : [25, 54],
      "backingImage" : "/interface/crafting/siliconcrucible/mg.png",
      "callback" : "inputModifier",
      "rightClickCallback" : "null",
      "visible" : false
    },
    "output" : {
      "zlevel" : 2,
      "type" : "itemslot",
      "position" : [91, 54],
      "backingImage" : "/interface/crafting/siliconcrucible/boule.png",
      "callback" : "outputModifier",
      "rightClickCallback" : "null",
      "visible" : false
    },
    "lblText" : {
      "type" : "label",
      "position" : [70, 78],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Place up to 100 silicon into the left slot."
    },
    "pointer" : {
      "zlevel" : 2,
      "type" : "image",
      "position" : [62, 57],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/campfire_shine.png",
      "position" : [-20, 20]
    }
  },

  "scriptWidgetCallbacks" : [
    "onCraftingToggle",
    "inputModifier",
    "outputModifier"
  ],

  "scripts" : [ "/interface/crafting/siliconcrucible/siliconcrucible.lua" ],
  "scriptDelta" : 1
}
