{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/objects/peripherals/monitors/tier2/monitorheader.png",
      "fileBody" : "/objects/peripherals/monitors/tier2/monitorbody.png"
    },
    "scriptCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [0, 0, 480, 270],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    }
  },

  "scripts" : ["/objects/peripherals/monitors/monitor.lua"],
  "scale" : 2,
  "type" : "tier2",

  "scriptDelta" : 1,
  "scriptCanvas" : "scriptCanvas"
}
