{	
	// Maximum amount of silicon the crucicble
	// can hold in it's input slot at any
	// give time.
	//
	//	Default: 100
	//
	"siliconCapacity" : 100,

	// Maximum amount of silicon boules the
	// crucicble can hold in it's output slot
	// at any give time.
	//
	//	Default: 10
	//
	"siliconBouleCapacity" : 10,

	// Amount of time, in seconds, that it
	// takes to create one silicon boule.
	//
	//	Default: 600
	//
	"bouleGrowTime" : 600
}