{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/objects/peripherals/monitors/tier3/monitorheader.png",
      "fileBody" : "/objects/peripherals/monitors/tier3/monitorbody.png"
    },
    "scriptCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [0, 0, 320, 240],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    }
  },

  "scripts" : ["/objects/peripherals/monitors/monitorbig.lua"],
  "type" : "tier3",
  "scale" : 1,
  "split" : true,

  "scriptDelta" : 1,
  "scriptCanvas" : "scriptCanvas"
}
