{	
	// This controls whether or not only the player who first interacted
	// with an object may have the only access to said object. 
	// 
	//	Default : true
	//
	"ownershipEnabled" : true,

	// This controls whether or not an object, when broken, will
	// remember the player who became it's owner. If not, then
	// players who can break objects /will/ be able to place
	// them back down again and become their new owner. Only
	// applies if "ownershipEnabled" is set to true.
	// 
	//	Default : true
	//
	"rememberOwner" : true,

	// This controls how many objects of one kind may be
	// claimed by a player. This setting is here to prevent
	// players from joining a server and spawning in x amounts
	// of computers with the intent of lagging said server.
	// 
	//	Default : 20
	//
	"maximumClaims" : 20,

	// This controls whether or not items in an object are
	// dropped upon destruction of said object. Of course,
	// only applies to objects which can hold items.
	//
	//	Default : false
	//
	"dropContents" : false,

	// This controls whether or not admins may bypass any
	// protections and claims made by players.
	//
	//	Default : true
	//
	"adminBypass" : true,

	// The below settings are object-specific. If they have
	// any of the above parameters defined in them, it will
	// use those. Otherwise, it will fall back on the global
	// paramaters.

	"case" : {},

	"monitor" : {
		"ownershipEnabled" : false //	Default : false
	},

	"keyboard" : {
		"ownershipEnabled" : false //	Default : false
	},

	"mouse" : {
		"ownershipEnabled" : false //	Default : false
	}
}