{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/terminals/terminalheader.png",
      "fileBody" : "/interface/terminals/terminalbody.png"
    },
    "screen" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [0, 0, 576, 330],
      "captureKeyboardEvents" : true
    }
  },

  "scripts" : ["/interface/terminals/terminal.lua"],
  "scriptDelta" : 1,
  
  "canvasKeyCallbacks" : {
    "screen" : "canvasKeyEvent"
  }
}
