{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/computercase/chestheader.png",
      "fileBody" : "/interface/computercase/slots17to24.png",
      "fileFooter" : "/interface/computercase/chestfooter.png"
    },
    "title" : {
      "type" : "label",
      "value" : "Computer Case - Tier 1",
      "hAnchor" : "mid",
      "position" : [80, 121]
    },
    "count" : {
      "type" : "label",
      "value" : "Component Slots - 12",
      "hAnchor" : "mid",
      "position" : [80, 30]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/computercase/shine17to24.png",
      "position" : [0, 3]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/computercase/x.png",
      "hover" : "/interface/computercase/xhover.png",
      "pressed" : "/interface/computercase/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [145, 132]
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [2, 45, 77, 116],
      "children" : {
        "text" : {
          "type" : "label",
          "hAnchor" : "left",
          "vAnchor" : "top",
          "lineSpacing" : 1.0,
          "wrapWidth" : 67
        }
      }
    },
    "cpuSlot1" : {
      "type" : "itemslot",
      "position" : [81, 100],
      "backingImage" : "/interface/computercase/cpu.png",
      "callback" : "cpuSlotModifier",
      "rightClickCallback" : "null"
    },
    "gpuSlot1" : {
      "type" : "itemslot",
      "position" : [100, 100],
      "backingImage" : "/interface/computercase/gpu.png",
      "callback" : "gpuSlotModifier",
      "rightClickCallback" : "null"
    },
    "ramSlot1" : {
      "type" : "itemslot",
      "position" : [119, 100],
      "backingImage" : "/interface/computercase/ram.png",
      "callback" : "ramSlotModifier",
      "rightClickCallback" : "null"
    },
    "ramSlot2" : {
      "type" : "itemslot",
      "position" : [138, 100],
      "backingImage" : "/interface/computercase/ram.png",
      "callback" : "ramSlotModifier",
      "rightClickCallback" : "null"
    },
    "storageSlot1" : {
      "type" : "itemslot",
      "position" : [81, 81],
      "backingImage" : "/interface/computercase/storage.png",
      "callback" : "storageSlotModifier",
      "rightClickCallback" : "null"
    },
    "storageSlot2" : {
      "type" : "itemslot",
      "position" : [100, 81],
      "backingImage" : "/interface/computercase/storage.png",
      "callback" : "storageSlotModifier",
      "rightClickCallback" : "null"
    },
    "diskSlot1" : {
      "type" : "itemslot",
      "position" : [119, 81],
      "backingImage" : "/interface/computercase/cd.png",
      "callback" : "diskSlotModifier",
      "rightClickCallback" : "null"
    },
    "diskSlot2" : {
      "type" : "itemslot",
      "position" : [138, 81],
      "backingImage" : "/interface/computercase/cd.png",
      "callback" : "diskSlotModifier",
      "rightClickCallback" : "null"
    },
    "expansionSlot1" : {
      "type" : "itemslot",
      "position" : [81, 62],
      "backingImage" : "/interface/computercase/expansion.png",
      "callback" : "expansionSlotModifier",
      "rightClickCallback" : "null"
    },
    "expansionSlot2" : {
      "type" : "itemslot",
      "position" : [100, 62],
      "backingImage" : "/interface/computercase/expansion.png",
      "callback" : "expansionSlotModifier",
      "rightClickCallback" : "null"
    },
    "expansionSlot3" : {
      "type" : "itemslot",
      "position" : [119, 62],
      "backingImage" : "/interface/computercase/expansion.png",
      "callback" : "expansionSlotModifier",
      "rightClickCallback" : "null"
    },
    "expansionSlot4" : {
      "type" : "itemslot",
      "position" : [138, 62],
      "backingImage" : "/interface/computercase/expansion.png",
      "callback" : "expansionSlotModifier",
      "rightClickCallback" : "null"
    },
    "buttons" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "callback" : "onButtonToggle",
      "position" : [81, 43],
      "buttons" : [
        {
          "id" : 0,
          "baseImage" : "/interface/computercase/power.png",
          "hoverImage" : "/interface/computercase/powerhover.png",
          "baseImageChecked" : "/interface/computercase/poweron.png",
          "hoverImageChecked" : "/interface/computercase/poweronhover.png"
        },
        {
          "id" : 1,
          "baseImage" : "/interface/computercase/reset.png",
          "hoverImage" : "/interface/computercase/resethover.png",
          "baseImageChecked" : "/interface/computercase/reseton.png",
          "hoverImageChecked" : "/interface/computercase/resetonhover.png",
          "position": [ 19, 0 ],
          "selected" : true
        }
      ]
    }
  },

  "scriptWidgetCallbacks" : [
    "onButtonToggle",
    "cpuSlotModifier",
    "gpuSlotModifier",
    "ramSlotModifier",
    "storageSlotModifier",
    "diskSlotModifier",
    "expansionSlotModifier"
  ],

  "scripts" : ["/objects/computers/case.lua"],
  "scriptDelta" : 30
}
