{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/objects/peripherals/monitors/tier2/monitorheader.png",
      "fileBody" : "/objects/peripherals/monitors/tier2/monitorbody.png"
    },
    "screen" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [0, 0, 480, 284],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    }
  },

  "scripts" : ["/objects/peripherals/monitors/monitor.lua"],
  "scriptDelta" : 1,

  "canvasClickCallbacks" : {
    "screen" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "screen" : "canvasKeyEvent"
  },

  "scale" : 2,
  "type" : "tier2"
}
